doctype html
head
  title MENU
  link(rel='stylesheet', href='/stylesheets/bootstraporder.css')
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='/javascripts/jquery.min1.js')
  // Custom Theme files
  link(rel='stylesheet', href='/stylesheets/styleorder3.css')
  // Custom Theme files
  meta(name='viewport', content='width=device-width, initial-scale=1')
  script(type='application/x-javascript').
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  // webfont
  link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic', rel='stylesheet', type='text/css')
  link(href='//fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic', rel='stylesheet', type='text/css')
  // Animation
  script(type='text/javascript', src='/javascripts/wow.min.js')
  link(rel='stylesheet', href='/stylesheets/animateorder.css')
  script
    new WOW().init();
  script(type='text/javascript', src='/javascripts/move-top.js')
  script(type='text/javascript', src='/javascripts/easing.js')
  script(type='text/javascript').
    jQuery(document).ready(function(Rs) {
    $(".scroll").click(function(event){
    event.preventDefault();
    $('html,body').animate({scrollTop:Rs(this.hash).offset().top},1200);
    });
    });
  script(src='/javascripts/simpleCart.min.js')
// header-section-starts
header#mu-header
  nav.navbar.navbar-default.mu-main-navbar(role='navigation')
    .container
      .navbar-header
        // FOR MOBILE VIEW COLLAPSED BUTTON
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        // LOGO
        // Text based logo
        a#size.navbar-brand(href='index.html')
          img(src='/images/logo1.png')
        a.navbar-brand(href='#home')
          | FoodSet
          span Go
        // Image based logo
        // <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Logo img"></a>
      br
      #navbar.navbar-collapse.collapse
        if user
          ul#top-menu.nav.navbar-nav.navbar-right.mu-main-nav

            li
              a(href='/') HOME

            li
              a(href='/rest') RESTAURANT

            li
              a(href='feedback/add') FEEDBACK

            li
              a(href='/logout') LOGOUT
            li  
              .cart.box_1
                
                h3
                  span.simpleCart_total  Rs0.00 
                  |  (
                  span#simpleCart_quantity.simpleCart_quantity  0 
                  |  items)
                  img(src='/images/cart.jpeg', alt='')
              p
                a.simpleCart_empty(href='javascript:;') Empty card
              .clearfix 

// header-section-ends
// content-section-starts
.orders
  .container
  h1 Pizzas
  -var index=0;
  each entry in pizza
    .order-top
      li.item-lists
        //-h4 Pizzas
        p #{entry.desc}
        //-p #{entry.desc2}
        //-p #{entry.desc3}
        //-p #{entry.desc4}
      li.item-lists
        .special-info.grid_1.simpleCart_shelfItem
          h4 Price
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 #{entry.price}
            .pr-right
              .item_add
                span.item_price
                  a(href='#') #{entry.pick}
            .clearfix
      .clearfix
  -index++;
  
  h1 Burgers
  -var index1=0;
  each entry in burger
    .order-top
      li.item-lists
        //-h4 #{entry.name}
        p #{entry.desc}
        //-p #{entry.desc2}
        //-p #{entry.desc3}
        //-p #{entry.desc4}
      li.item-lists
        .special-info.grid_1.simpleCart_shelfItem
          h4 Price
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 #{entry.price}
            .pr-right
              .item_add
                span.item_price
                  a(href='#') #{entry.pick}
            .clearfix
      .clearfix
  -index1++;

  h1 Desserts
  -var index2=0;
  each entry in dessert
    .order-top
      li.item-lists
        //-h4 #{entry.name}
        p #{entry.desc}
        //-p #{entry.desc2}
        //-p #{entry.desc3}
        //-p #{entry.desc4}
      li.item-lists
        .special-info.grid_1.simpleCart_shelfItem
          h4 Price
          .pre-top
            .pr-left
              .item_add
                span.item_price
                  h6 #{entry.price}
            .pr-right
              .item_add
                span.item_price
                    a(href='#') #{entry.pick}
            .clearfix
      .clearfix
  -index2++;
   
   .col-md-7.buy
     a.morebtn.hvr-rectangle-in(href='/orders') Order Now
   //-input(type='button', value='Order now' href='/orders')
    //- .order-top
    //-   li.item-lists
    //-     h4 Cold Beverages
    //-     p Strawberry Milk Shake
    //-     p Chocolate Milk Shake
    //-   li.item-lists
    //-     .special-info.grid_1.simpleCart_shelfItem
    //-       h4 Price
    //-       .pre-top
    //-         .pr-left
    //-           .item_add
    //-             span.item_price
    //-               h6 ONLY Rs30.00
    //-         .pr-right
    //-           .item_add
    //-             span.item_price
    //-               a(href='#') Pick
    //-         .clearfix
    //-       .pre-top
    //-         .pr-left
    //-           .item_add
    //-             span.item_price
    //-               h6 ONLY Rs30.00
    //-         .pr-right
    //-           .item_add
    //-             span.item_price
    //-               a(href='#') Pick
    //-         .clearfix
    //-   .clearfix
    //- .order-top
    //-   li.item-lists
    //-     h4 Sandwiches
    //-     p (Mint With Cheese Tomato)
    //-     p (Fresh Tomatoes, Cucumber)
    //-   li.item-lists
    //-     .special-info.grid_1.simpleCart_shelfItem
    //-       h4 Price
    //-       .pre-top
    //-         .pr-left
    //-           .item_add
    //-             span.item_price
    //-               h6 ONLY Rs30.00
    //-         .pr-right
    //-           .item_add
    //-             span.item_price
    //-               a(href='#') pick
    //-         .clearfix
    //-       .pre-top
    //-         .pr-left
    //-           .item_add
    //-             span.item_price
    //-               h6 ONLY Rs30.00
    //-         .pr-right
    //-           .item_add
    //-             span.item_price
    //-               a(href='#') pick
    //-         .clearfix
    //-   .clearfix
    //- .order-top
    //-   li.item-lists
    //-     h4 Exotic Cakes
    //-     p Pineapple Flavoured Cream)
    //-     p A Chocolate Sponge Base
    //-   li.item-lists
    //-     .special-info.grid_1.simpleCart_shelfItem
    //-       h4 Price
    //-       .pre-top
    //-         .pr-left
    //-           .item_add
    //-             span.item_price
    //-               h6 ONLY Rs30.00
    //-         .pr-right
    //-           .item_add
    //-             span.item_price
    //-               a(href='#') pick
    //-         .clearfix
    //-       .pre-top
    //-         .pr-left
    //-           .item_add
    //-             span.item_price
    //-               h6 ONLY Rs30.00
    //-         .pr-right
    //-           .item_add
    //-             span.item_price
    //-               a(href='#') pick
    //-         .clearfix
    //-   .clearfix
    //- br
    //- .order-top
    //-   li.item-lists
    //-     h4 Ice Creams
    //-     p Butter Scotch
    //-     p Pineapple
    //-     p Black Forest
    //-     p Chocolate with Orange
    //-   li.item-lists
    //-     .special-info.grid_1.simpleCart_shelfItem
    //-       h4 Price
    //-       .pre-top
    //-         .pr-left
    //-           .item_add
    //-             span.item_price
    //-               h6 ONLY Rs30.00
    //-         .pr-right
    //-           .item_add
    //-             span.item_price
    //-               a(href='#') pick
    //-         .clearfix
    //-       .pre-top
    //-         .pr-left
    //-           .item_add
    //-             span.item_price
    //-               h6 ONLY Rs30.00
    //-         .pr-right
    //-           .item_add
    //-             span.item_price
    //-               a(href='#') pick
    //-         .clearfix
    //-       .pre-top
    //-         .pr-left
    //-           .item_add
    //-             span.item_price
    //-               h6 ONLY Rs30.00
    //-         .pr-right
    //-           .item_add
    //-             span.item_price
    //-               a(href='#') pick
    //-         .clearfix
    //-       .pre-top
    //-         .pr-left
    //-           .item_add
    //-             span.item_price
    //-               h6 ONLY Rs30.00
    //-         .pr-right
    //-           .item_add
    //-             span.item_price
    //-               a(href='#') pick
    //-         .clearfix
    //-   .clearfix
// content-section-ends
// footer-section-starts
.footer
  .container
    p.wow.fadeInLeft(data-wow-delay='0.4s') &copy; FOODSETGO
// footer-section-ends
script(type='text/javascript').
  $(document).ready(function() {
  /*
  var defaults = {
  containerID: 'toTop', // fading element id
  containerHoverID: 'toTopHover', // fading element hover id
  scrollSpeed: 1200,
  easingType: 'linear'
  };
  */
  $().UItoTop({ easingType: 'easeOutQuart' });
  });
a#toTop(href='#', style='display: block;')
  span#toTopHover(style='opacity: 1;')  
